
.form-container-log {
    /* background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.3);    
    margin-top: 5%;
    position: absolute;
    width: 40%;
     */
 
}
@media screen and (max-width: 960px){
    .form-container-log{
        width: 80%;
        top: 30%;
    }
}

@media screen and (max-width: 768px) {
    .form-container-log{
        width: 100%;
        top: 40%;
    }
}