.message-header{
    font-family: "Inter";
    font-size: 2.1rem;
}

.message-header-span{
    font-family: "Inter";
    font-size: 2.1rem;
    color: rgba(60, 183, 168, 1);
}

.message-para{
    font-family: "Inter";
    font-size: .75rem;
}

.message-text{
    margin-left: 20px;
    margin-bottom: 40px;
}

.man-img{
    z-index: 1;
    
}

.tri-img{
    z-index: 0;
    margin-left: -15px;
}
